<div class="col-lg-4" style="float: left;">
    <mat-radio-group class="radio-group" >
        <mat-radio-button class="radio-button" value = '1' (change)="selectColor('color1')" >
            Theme1
        </mat-radio-button>
        <mat-radio-button class="radio-button" value = '2' (change)="selectColor('color2')">
            Theme2
        </mat-radio-button>
        <mat-radio-button class="radio-button" value = '3' (change)="selectColor('color3')">
            Theme3
        </mat-radio-button>
      </mat-radio-group>
    </div>

<div class="col-lg-4" style="float: left;">

    <mat-radio-group class="radio-group" >
        <mat-radio-button class="radio-button" value = '1' (change)="onSelect('pie-chart')" >
            PieChart
        </mat-radio-button>
        <mat-radio-button class="radio-button" value = '2' (change)="onSelect('bar-vertical')">
            vertical
        </mat-radio-button>
        <mat-radio-button class="radio-button" value = '3' (change)="onSelect('number-card')">
            NumberCard
        </mat-radio-button>
      </mat-radio-group>
      </div>

<div class="col-lg-8">
  <app-charts [selected]="chartType" [data]="single"  [color]="colorSchema" ></app-charts>
</div>

